body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  border: 0;
}

#game-canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

.sprite {
  display: none;
}

#play-game {
  margin-top: -80px;
  z-index: 5;
  height: 30px;
  width: 300px;
}

#play-game:hover {
  cursor: pointer;
}
