body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  border: 0;
}

#game-canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

.sprite {
  display: none;
}
